
<section>
    <article>
        <p>{{post.content}}</p>
    </article>
</section>
<section>
    <h2>Comments:</h2>
    {{#each comments}}
    <div class="comment">
        <p>{{this.content}}</p>
        <p>Posted by: {{this.author}} on {{formatDate this.createdAt}}</p>
    </div>
    {{/each}}
    <h3>Add a Comment!</h3>
    <form action="/comment/create" method="POST">
        <input type="hidden" name="postId" value="{{post._id}}">
        <label for="content">Your Comment:</label><br>
        <textarea id="content" name="content" rows="4" required></textarea>
        <button type="submit">Add Comment!</button>
    </form>
</section>